body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: black;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.cart {
    cursor: pointer;
}

.container {
    padding: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 20px;
}

.card {
    background: #1a1a1a;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.price {
    font-weight: bold;
    margin-top: 5px;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
}

button {
    background: #00ff88;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.product-page img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.cart-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: black;
    padding: 15px;
}